.Header {
    color: blue;
    border-bottom: 2px solid green;
    font-family: Arial;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}