.Nav {
    list-style: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}


li {
    margin-left: 20px;
    font-size: 20px;
    color: brown;
}

li>a {
    text-decoration: none;
}